<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        fieldset{
            width: fit-content;
        }
    </style>
</head>
<body>
    <center>
        <fieldset>
            <h1>this is the student form</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="submit" >
        </form>
    </fieldset>
    </center>
</body>
</html>